* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  background-color: rgb(242, 235, 227);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  border-radius: 13px;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.015);
  max-width: 60rem;
  background-color: #fff;
}

.img {
  background-image: url(images/image-product-desktop.jpg);
  background-size: cover;
  background-position: center;
}

.product-img {
  width: 100%;
  display: block;
}


.info {
  padding: 3rem;
}

.subheading {
  color: #6c7289;
  display: block;
  margin-bottom: 1.6rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.heading{
  font-size: 3.2rem;
  font-family: Fraunces;
  color: #1c232b;
  margin-bottom: 2.4rem;
}

.description {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #6c7289;
  margin-bottom: 3.2rem;
}

.price {
  font-size: 3.2rem;
  font-family: Fraunces;
  color: #3c8067;
  margin-bottom: 3.2rem;
}

.discount {
  display: inline-block;
  font-size: 1.2rem;
  font-family: Montserrat;
  vertical-align: middle;
  text-decoration: line-through;
  color: #6c7289;
  margin-left: 1.2rem;
  transform: translateY(-0.4rem);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  color: #fff;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  background-color: #3c8067;
  padding: 1.4rem 2.4rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #12261f;
}


@media (max-width: 645px) {
  .container {
    margin: 2.4rem 1.2rem;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .img {
    background-image: url(images/image-product-mobile.jpg);
    background-size: cover;
    background-position: center;
    height: 28rem;
  }

  .btn:hover {
    background-color: #3c8067;
  }

  .btn:active {
    background-color: #12261f;
  }
}